* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif,serif;
}

/* Header */
.cstuheader {
    background-color: #F9F7F7;
    color: #112D4E;
    text-align: center;
    width: 100%;
    height: 100px;
}
.cstuheader h1 {
    padding-top: 10px; ;
}
.cstuheader h4 {
    padding-top: 10px;
}
/* Header */

/* Navbar Start*/
.navbarhome {
    width: 100%;
    background-color: #112D4E;
    height: 50px;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

#logo {
    text-decoration: none;
    color: #DBE2EF;
    font-size: 30px;
}

.navbarhome ul li {
    list-style-type:none ;
    display: inline;
    padding: 0px 20px;
}

.navbarhome ul li a {
    text-decoration: none;
    color:#F9F7F7;
    font-size: 17px;
}

.navbarhome ul li a:hover, #contactbtn:hover {
   color:#3F72AF;
}

#contactbtn {
    color: #F9F7F7;
    text-decoration: none;
    font-size: 17px;
}
/* Navbar End */

/* Section Content Start */

.leftcolum {
    float: left;
    width: 75%;
    padding-left: 20px;
    color: #112D4E;
}

.video-container {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myvideo {
    width: 75%;
    height: 100%;
    object-fit: cover;
}

.rightcolum {
    float: right;
    width: 25%;
    padding-left: 20px;
    color: #112D4E;

}

.mypic {
    width: 100%;
    border-radius: 10px;
}

.card {
    background-color: #DBE2EF;
    padding: 20px;
    margin-top: 20px;
}

.about-me{
    font-size: 25px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.about {
    text-align: center;
    padding-top: 20px;
    text-transform: capitalize ;
}

.social {
    text-align: center;
    padding-top: 20px;
}

.social a {
    color: #3F72AF;
    font-size: 40px ;
    padding-left: 30px;
}

.social a:hover {
    color: #112D4E;
}

.homepage::after {
    content: "";
    display: table;
    clear: both;
}
/* Section Content End */